<div class="ng-cloak">
	<h2>{{ $ctrl.title }}</h2>
	<form name="allstar">
		<div>
			<label>{{ $ctrl.view.getField('a').label }}</label>
			<input type="text" name="{{$ctrl.view.getField('a').id}}" ng-model="$ctrl.view.getField('a').value" ng-change="$ctrl.changed()" placeholder="playerID:">
			
		</div>
		<div>
			<label>{{ $ctrl.view.getField('b').label }}
				<input type="text" name="{{$ctrl.view.getField('b')}}" ng-model="$ctrl.view.getField('b').value" ng-change="$ctrl.changed()" placeholder="yearID:">
			</label>
		</div>
		<div>
			<fieldset>
				<legend><label>{{ $ctrl.view.getField('c').label}}</label></legend>
				<span ng-repeat="x in $ctrl.view.getField('c').list">
					<input type="checkbox" name="c" id="check_c_{{x.id}}" ng-value="{{x.id}}" ng-model="$ctrl.view.getField('c').value[x.id]" ng-change="$ctrl.changed();">
					<label for="check_c_{{x.id}}">{{x.id}}</label>
				</span>
			</fieldset>
		</div>
		<div>
			<label>{{ $ctrl.view.getField('d').label }}</label>
			<select id="{{$ctrl.view.getField('d')}}" ng-model="$ctrl.view.getField('d').value" ng-change="$ctrl.changed();">
				<option value="">-- choose --</option>
				<option ng-repeat="x in $ctrl.view.getField('d').list" ng-value="x.id">{{x.id}}</option>
			</select>
			
		</div>
		<div>
			<label>{{ $ctrl.view.getField('e').label }}</label>
			<select id="{{ $ctrl.view.getField('e') }}" ng-model="$ctrl.view.getField('e').value" ng-change="$ctrl.changed();">
				<option value="">-- choose --</option>
				<option ng-repeat="x in $ctrl.view.getField('e').list" ng-value="x.id">{{x.id}}</option>
			</select>
		</div>
		<div>
			<fieldset>
				<legend>
					<label>{{ $ctrl.view.getField('f').label }}</label></legend>
					<span>
						<input type="radio" name="{{$ctrl.view.getField('f')}}" id="radio_f_none" value="" ng-model="$ctrl.view.getField('f').value" ng-click="$ctrl.changed();">
						<label for="radio_f_none">All, or:</label>
					</span>
					<span ng-repeat="x in $ctrl.view.getField('f').list">
						<input type="radio" name="{{$ctrl.view.getField('f')}}" id="radio_f_{{x.id}}" ng-value="x.id" ng-model="$ctrl.view.getField('f').value" ng-click="$ctrl.changed();">
						<label for="radio_f_{{x.id}}">{{x.id}}</label>
					</span>
				</fieldset>
			</div>
			<div>
				<label>{{ $ctrl.view.getField('g').label }}</label>
				<select id="{{$ctrl.view.getField('g')}}" ng-model="$ctrl.view.getField('g').value" ng-change="$ctrl.changed();">
					<option value="">-- choose --</option>
					<option ng-repeat="x in $ctrl.view.getField('g').list" ng-value="x.id">{{x.id}}</option>
				</select>
			</div>

			<div>
				<label>{{ $ctrl.view.getField('h').label }}</label>
				<select id="{{$ctrl.view.getField('h')}}" ng-model="$ctrl.view.getField('h').value" ng-change="$ctrl.changed();">
					<option value="">-- choose --</option>
					<option ng-repeat="x in $ctrl.view.getField('h').list" ng-value="x.id">{{x.id}}</option>
				</select>
			</div>
			<button ng-click="$ctrl.edit();" class="button">edit</button>
		</form>
	</div>